PRIVATE_KEY= #Une private key sans aucun fond, juste pour appeler des foncitons view
SEPOLIA_RPC_URL= #RPC URL d'un noeud Sepolia (alchemy / infura par exemple)
CHALL_NAME=Storage #Nom du challenge
FLAG=
FACTORY_ADDRESS=  #Adresse du contrat factory déployé sur Sepolia